* {
  margin: 0;
  padding: 0;
}

body {
  background: #131313;
  font-family: 'Poppins', sans-serif;
  color: white;
}

header {
  background-color: #292929;
  color: white;
  padding: 10px 0;
}

header h1 {
  font-family: 'Pacifico', sans-serif;
  color: deeppink;
}

header .container {
  padding: 20px;
}

header nav {
  margin: 10px 0;
  padding: 10px 0;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: none;
  transition: 600ms;
}

header nav a:hover {
  color: deeppink;
}

header nav ul .underline {
  text-decoration: underline;
  text-decoration-color: deeppink;
  text-underline-offset: 13px;
  text-decoration-thickness: 3px;
  color: deeppink;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin-right: 3%;
}

.content {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.content h2 {
  color: deeppink;
  margin-top: 1.5rem;
}

.content ul {
  margin-left: 1.5rem;
  list-style-type: disc;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 100%;
}
