* {
  margin: 0;
  padding: 0;
}

body {
  background: #131313;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

header {
  background-color: #292929;
  color: white;
  padding: 10px 0;
}

header h1 {
  font-family: 'Pacifico', sans-serif;
  color: deeppink;
}

header .container {
  padding: 20px;
}

header nav {
  margin: 10px 0;
  padding: 10px 0;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: none;
  transition: 600ms;
}

header nav a:hover {
  color: deeppink;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin-right: 3%;
}

main .hero {
  background: url('pizza.jpg') center/cover no-repeat;
  text-align: center;
  padding: 100px 20px;
}

main .hero h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

main .hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

main button {
  padding: 12px 24px;
  background: white;
  border: transparent;
  color: deeppink;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: 600ms;
}

main button:hover {
  box-shadow: 0 0 20px rgba(255, 0, 123, 1);
}

main button:active {
  transition: 60ms;
  box-shadow: 0 0 20px rgba(251, 49, 255, 1);
}

main .recipes {
  padding: 60px 20px;
}

main .recipes a {
  cursor: none;
  text-decoration: none;
  color: white;
  transition: 700ms;
}

main .recipes a:active {
  transition: 60ms;
  opacity: 0.7;
}

main .recipes h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}

main .recipe-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .recipe-card {
  background: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(215,215,215,215.05);
  padding-bottom: 15px;
}

main .recipe-card img {
  width: 100%;
  height: auto;
}

main .recipe-card h4 {
  margin: 15px;
  font-size: 20px;
}

main .recipe-card p {
  margin: 0 15px;
  color: #666;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 100%;
}

@media (min-width: 768px) {
  main .hero h2 {
    font-size: 48px;
  }

  main .recipes a:hover {
    opacity: 0.5;
  }

  main .recipe-grid {
    flex-direction: row;
    justify-content: space-between;
  }

  main .recipe-card {
    width: 30%;
  }
}